{% extends "issues/base.html" %}

{% block title %}
Issues
{% endblock %}

{% block content %}

<div class="page-heading">
    <h2>Campus Issues</h2>
    <a class="button" href="{% url 'create-issue' %}">Report an Issue</a>
</div>

{% for issue in issues %}

    <div class="issue-card">
        <h3>
            <a href="{% url 'issue-detail' issue.id %}">
                {{ issue.title }}
            </a>
        </h3>

        <p>
            {{ issue.location }} |
            {{ issue.get_priority_display }} |
            {{ issue.get_status_display }}
        </p>
    </div>

{% empty %}

    <p>No issues reported yet.</p>

{% endfor %}

{% endblock %}